extends layout

block content
  h1= title
  a.btn.btn-primary(href="/create") Create New Item
  - let items = results;

  div(class="container-fluid")
    div(class="row")
      each horse in items
        div(class="col-sm-2")
          p #{horse.horse_name}
          p age: #{horse.horse_age}
          p Price: $#{horse.horse_price}
          a.btn.btn-info(href=`horses/detail?id=${horse._id}`) View Details
          button.btn.btn-primary.ml-1(onclick=`update("${horse._id}")`) Update
          button.btn.btn-danger.ml-1(onclick=`delete("${horse._id}")`) Delete

  script.
    function buy(id) {
      alert("You purchased Item " + id);
    }

    function update(id) {
      window.location.href = `/horses/update?id=${id}`;
    }

    function delete(id) {
      var confirmation = confirm("Are you sure you want to delete this item?");
      if (confirmation) {
        // Assuming you want to delete the horse with the specified ID
        fetch(`/horses/delete?id=${id}`, {
          method: 'DELETE'
        }).then((resp) => {
          if (resp.ok) {
            alert("Delete succeeded");
            window.location.reload(); // or redirect to the collection page
          } else {
            alert("Delete failed");
          }
        }).catch((error) => {
          console.error('Error:', error);
        });
      }
    }

  // ... (rest of the code)
